<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery - Hari's Portfolio</title>
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <link rel="stylesheet" href="/css/gallery-common.css">
    <link rel="stylesheet" href="/css/gallery.css">
</head>

<body>
    <!-- <%- include('partials/navbar') %> -->
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <h1>Gallery</h1>
    </header>
    <div class="section-card-container">
        <% typeList.forEach(function(section,idx){ id2="card" +idx %>
            <div id="<%=id2%>" class="section-card">
                <a href="<%= section.link %>">
                    <img src="<%= section.image %>">
                </a>
                <div class="section-card-title">
                    <a href="<%= section.link %>">
                        <p class="section-card-p"><%= section.name %></p>
                    </a>
                </div>
            </div>        
        <% }) %>
    </div>
</body>
<script>
        document.addEventListener("DOMContentLoaded", () => {
            const elements = document.querySelectorAll('.section-card');
            // let delay = 0;
            let delay = 200;

            elements.forEach((element, index) => {
                setTimeout(() => {
                    console.log("set")
                    element.classList.add('visible');
                    // element.style.opacity=1;
                }, delay);
                // delay += 200; // Delay in milliseconds between elements (1 second in this case)
            });
        });

    console.log("hi")
</script>
</html>
