<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery - Hari's Portfolio</title>
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <link rel="stylesheet" href="/css/gallerypages.css">
</head>

<body>
    <!-- <%- include('partials/navbar') %> -->
    <div id="main">
        <header>
            <nav class="navbar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
            <h1>
                <%=page %>
            </h1>
        </header>
        <div class="card-container">
            <% mediaItems.forEach(function(media,idx){ id2="card" +idx %>
                <div class="card" id='<%= id2 %>' onclick="myFunction('<%= idx %>')">
                    <% if (media.type==='video' ) { %>
                        <video src="<%= media.link %>"></video>
                    <% } else if (media.type==='image' ) { %>
                        <img src="<%= media.link %>" alt="<%= media.title %>">
                    <% } else { %>
                        <iframe width="420" height="315" src="<%= media.link %>" alt="<%= media.title %>"></iframe>
                    <% } %>
                </div>
            <% }) %>
        </div>
    </div>
    <% mediaItems.forEach(function(media,idx){ %>
        <div class="popupMedia" id="<%= idx %>">
            <% if (media.type==='video' ) { %>
                <video src="<%= media.link %>" controls id="popupVid<%= idx %>"></video>
            <% } else if (media.type==='image' ) { %>
                <img src="<%= media.link %>" alt="<%= media.title %>">
            <% } else { %>
                <div id="ytPopup<%= idx %>">
                    <iframe width="420" height="315" src="<%= media.link %>" alt="<%= media.title %>"></iframe>
                </div>
            <% } %>
            <p onclick="closePopup('<%= idx %>')">close</p>
        </div>
    <% }) %>
</body>

<script>

    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var playerArr = [];
    playerIdx = 0;
    function onYouTubeIframeAPIReady() {
        <% mediaItems.forEach(function (media, idx) { id2 = "card" + idx %>
        var player2 = ""
        <% if (media.type === 'youtube_embed') { %>
            var player = new YT.Player('<%= id2 %>', {
                videoId: '<%= media.yt_id %>',
                playerVars: {
                    'playsinline': 1
                },
                events: {
                    'onStateChange': function (event) {
                        if (event.data == YT.PlayerState.PLAYING) {
                            console.log(event)
                            event.target.stopVideo();
                            console.log("click?")
                            myFunction('<%= idx %>')
                        }
                    }
                }
            })
            player2 = new YT.Player('ytPopup<%= idx %>', {
                videoId: '<%= media.yt_id %>',
                playerVars: {
                    'playsinline': 1
                },
            })
        <% } %>
        playerArr.push(player2)
        <% }) %>
    }
    var fadeEffect = setInterval(function(){},1000);
    // When the user clicks on <div>, open the popup
    function myFunction(title) {
        var popup = document.getElementById(title);
        clearInterval(fadeEffect);
        fadeEffect = setInterval(function () {
            var fadeTarget = document.getElementById("main");
            if (!fadeTarget.style.opacity) {
                fadeTarget.style.opacity = 1;
            }
            if (fadeTarget.style.opacity > 0) {
                fadeTarget.style.opacity -= 0.05;
            } else {
                console.log("clear")
                clearInterval(fadeEffect);
            }
        }, 50);
        popup.style.display = "block";
    }

    function closePopup(title) {
        var popup = document.getElementById(title);
        popup.style.display = "none";
        if(document.getElementById("popupVid" + title) != null){
            document.getElementById("popupVid" + title).pause();
        }
        if(playerArr[title] != ""){
            playerArr[title].pauseVideo()
        }
        clearInterval(fadeEffect);
        fadeEffect = setInterval(function () {
            var fadeTarget = document.getElementById("main");
            if (!fadeTarget.style.opacity) {
                fadeTarget.style.opacity = 0;
            }
            if (fadeTarget.style.opacity < 1) {
                fadeTarget.style.opacity -= -0.1;
            } else {
                console.log("clear")
                clearInterval(fadeEffect);
            }
        }, 20);
    }

</script>

</html>